#item_manager_main_container{
	width: 1000px;
	margin: 0 auto;
}
#item_manager_main_container .filterInput{
	width: 100% !important;
}
#item_manager_main_container .inputContainer{
	text-align: center;
	margin-bottom: 10px;
}
#item_manager_main_container tr.anItemSelected{
	background-color: lightgrey;
}
#item_manager_main_container .original{
	border: 5px solid #f19f4e;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 1px;
}
#item_manager_main_container .other{
	border: 5px solid #219cec;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 1px;
}
#item_manager_main_container span.hiddenoriginal, #item_manager_main_container span.hiddenother {
    display: none;
}
#item_manager_main_container .edit-selected-item, #item_manager_main_container .delete-selected-item{
	height: 20px;
	padding-left: 10px;
	vertical-align: top;
	cursor: pointer;
}
#item_manager_main_container .edit-selected-item.disabled, #item_manager_main_container .delete-selected-item.disabled{
	opacity: 0.2;
}
.editItemDetailsPopup{
	top: calc(50% - 125px);
	left: calc(50% - 250px);
	padding: 15px;
}
.editItemDetailsPopup label, .editItemDetailsPopup input[type="text"]{
	width: 20%;
	margin-top: 8px;
}
.editItemDetailsPopup input.extraWidth{
	width: 50%;
}
.editItemDetailsPopup .commonModalBodyDiv{
	height: 220px !important;
}
#editItemPopup .msgBox{
	display: none;
}
.editItemDetailsPopup .commonModalFooterDiv input{
	margin: 0px 10px;
	width: 60px;
}
#editItemPopup .msgBox.success{
	color: #35a535;
	font-weight: bold;
	padding-top: 11px;
}
#editItemPopup .msgBox.error{
	color: red;
	font-weight: bold;
	padding-top: 11px;
}
#item_manager_main_container input[type="button"].addItem{
	border-radius: 4px;
    border: none;
    padding: 4px;
    width: 50px;
    margin-left: 10px;
}
#item_manager_table_wrapper table thead th{
	padding: 10px 18px 10px 5px;
}
#item_manager_main_container .itemQualityDropdown, #editItemPopup .itemQualityDropdown{
	border: none;
	height: 25px;
}
#editItemPopup .itemQualityDropdown{
	width: 98px;
}
#item_manager_table_filter input[type=search]{
	-webkit-appearance: textField;
}
#exportItemDetils{
	background-image: url(/images/export_image.jpg);
    width: 40px;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-size: 25px;
    background-position-x: 6px;
    background-color: transparent;
    border-color: transparent;
	vertical-align: middle;
}
.exportPickColList{
	width: 300px;
    left: calc(50% - 150px);
    top: 0;
	padding: 10px;
}
.exportPickColList .commonModalBodyDiv{
	padding-left: 10px;
}
.exportPickColList .commonModalBodyDiv label{
	padding: 5px;
	cursor: pointer;
}
.exportPickColList .commonModalBodyDiv input{
	cursor: pointer;
}
.exportPickColList .commonModalFooterDiv input[type="button"]{
	margin: 0px 10px;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}