#invoice_list_page{
    width: 1000px;
    margin: 0 auto;
}
#invoice_list_page .filterInput {
    width: 100% !important;
}
#invoice_list_page table thead th {
    padding: 10px 18px 10px 5px;
}
#invoice_list_page .invoice-list-table .invoiceNo{
    cursor: pointer;
}
.editInvoicePopup{
    width: 650px;
    top: 0px;
    left: calc(50% - 325px);
    max-height: 600px;
    overflow-x: hidden;
}
.editInvoicePopup .commonModalBodyDiv{
    height: auto !important;
}
.editInvoicePopup .commonModalFooterDiv{
    margin: 15px;
}
.editInvoicePopup .commonModalFooterDiv input[type='button']{
    margin: 0px 5px;
}
.disablingLayer{
    position: fixed;
    width: 650px;
    height: 490px;
}
#invoice_list_page .delete-selected-invoice{
    height: 20px;
    padding-left: 10px;
    vertical-align: top;
    cursor: pointer;
}
#invoice_list_page .delete-selected-invoice.disabled{
    opacity: 0.2;
}
.invoice_list_table_container tr.anItemSelected{
    background-color: lightgrey;
}