.input-invoice-main .left-container{
    border-right: 1px solid;
}
.input-invoice-main .table-container{
    border: 1px solid;
    border-radius: 5px;
    height: 400px;
    overflow-x: hidden;
    margin-top: 20px;
    padding: 0;
}
.input-invoice-main .table-container table{
    table-layout: fixed;
}
.input-invoice-main .table-container input[disabled]{
    background-color: transparent;
}
.input-invoice-main .table-container thead{
    background-color: rgba(0, 0, 255, 0.22);
}
.input-invoice-main .table-container thead th{
    padding-top: 4px;
    padding-left: 6px;
}
.input-invoice-main .table-container tbody td{
    /*padding-top: 10px;*/
    padding-left: 5px;    
    height: 30px;
}
.input-invoice-main .table-container tbody td:not(:last-child){
    padding-right: 5px;
}
.input-invoice-main .table-container tbody .item-id-cell{
    background-color: rgba(141, 142, 143, 0.26);
}
.input-invoice-main .table-container tbody .item-id-cell.new{
    background-color: rgba(14, 244, 129, 0.26);
}
.input-invoice-main .table-container tbody .count-field,
.input-invoice-main .table-container tbody .price-field,
.input-invoice-main .table-container tbody .value-field{
    background-color: rgba(180, 179, 238, 0.38);
}
.input-invoice-main .effect-on-edit-invoice-popup{
    display: none;
}
.input-invoice-main .right-invoice-container{
    width: 25%;
}
.input-invoice-main .right-invoice-container .amount-details{    
    text-align: left;
    padding: 150px 0 0 0;
}
.input-invoice-main .amt-label,
.input-invoice-main .actual-amt,
.input-invoice-main .due-amt,
.input-invoice-main .paidAmt{
    /*float: left;*/
    width: 100px;
}
.input-invoice-main .form-control{
    width: 100px;
    display: inline-block;
    margin-left: 10px;
    height: 26px;
    margin-top: 0px;
    vertical-align: middle;
    /*float: left;*/
}
.input-invoice-main .add-payment-detail-icon{
    display: none;
}
.input-invoice-main .dummy-label{
    width: 100px;
}
.input-invoice-main .table-container table{
    width: 100%;
}
.input-invoice-main .table-container table input{
    padding-left: 5px;
}

.input-invoice-main .bottom-container{
    padding-top: 25px;
    padding-bottom: 25px;
}
