.invoice_list_data_table_container{
    width: 1000px;
    margin: 0 auto;
}
.invoice-list-data-table .open{
    border: 5px solid green;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 1px;
}
.invoice-list-data-table .closed{
    border: 5px solid red;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 1px;
}
#invoice_list_main_page .filterInput {
    width: 100% !important;
}
.editing-invoice-popup{
    width: 1100px;
    top: 0px;
    left: calc(50% - 550px);
    max-height: 550px;
    overflow-x: hidden;
    border: 10px solid lightgray;
    border-radius: 5px;
}
.editing-invoice-popup .input-invoice-main .left-container{
    border-right: none;
    width: 100%;
}
.editing-invoice-popup .input-invoice-main .effect-on-edit-invoice-popup{
    display: block;
}
.editing-invoice-popup .input-invoice-main .effect-on-edit-invoice-popup:after{
    clear: both;
}
.editing-invoice-popup .input-invoice-main .effect-on-edit-invoice-popup:after,
.editing-invoice-popup .input-invoice-main .effect-on-edit-invoice-popup:before{
    display: table;
    content: " ";
}
.editing-invoice-popup .input-invoice-main .right-invoice-container{
    width: 100%;
    background-color: aliceblue;
    padding-top: 25px;
    padding-left: 25px;
}
.editing-invoice-popup .notes-textarea{
    margin-left: -15px;
}
.editing-invoice-popup .input-invoice-main .actual-amt,
.editing-invoice-popup .input-invoice-main .paidAmt{
    border: none;
}
.editing-invoice-popup .input-invoice-main .amount-details{
    padding-top: 10px;
}
.editing-invoice-popup .input-invoice-main .add-payment-detail-icon{
    display: inline-block;
}
.editing-invoice-popup .input-invoice-main .add-payment-detail-icon img{
    width: 15px;
    cursor: pointer;
}
.editing-invoice-popup .input-invoice-main .submit-invoice-stock-btn{
    display: none;
}
.editing-invoice-popup #commonModalBodyDiv{
    height: auto;
}
.editing-invoice-popup #btn1Update{
    display: none;
}

.editing-invoice-popup .edit-msg-container-invoice,
.editing-invoice-popup .edit-msg-container-stock{
    display: block;
    text-align: center;
    font-size: 20px;
    position: absolute;
    z-index: 1000;
    left: 35%;
}
.editing-invoice-popup .msg-string.success{
    color: white;
    font-weight: bold;
    background-color: #2fc32f;
    padding: 0 45px;
}
.editing-invoice-popup .msg-string.error{
    color: white;
    font-weight: bold;
    background-color: #ea1f1f;
    padding: 0 45px;
}
.editing-invoice-popup .commonModalFooterDiv input{
    margin: 0 10px;
    padding: 5px 25px;
}