<div id="addInvoice-container" class="row">
	<div class="col-sm-7 leftPane">
		<div class="row">
			<div class="col-sm-6 labelInput">
				<label>Invoice No:</label><input class="inputBox invoiceNumber" type='text'/>
			</div>
			<div class="col-sm-6 labelInput">
				<label>Date:</label>
				<input type="text" id="date" class="inputBox"></input>
			      <span class="add-on">
			        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
			      </span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 labelInput">
				<label>Dealer:</label><input class="inputBox dealerName" type='text'/>
			</div>
			<!-- <div class="col-sm-6 labelInput">
				<label>ID:</label><label>D1</label>
			</div> -->
		</div>
		<div class="row">
			<div class="col-sm-6 labelInput">
				<label>Amount:</label><input class="inputBox actualAmt1" type='number' value=""/>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 itemListContainer">
				<table class="itemListTable">
					<colgroup>
						<col style="width: 50px">
						<col style="width: 120px">
						<col style="width: 260px">
						<col style="width: 30px">
						<col style="width: 40px">
					</colgroup>
					<thead>
						<tr>
							<th>S.N</th>
							<th>Brand</th>
							<th>Items Name</th>
							<th></th>
							<th>Nos</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" value="1" disabled/></td>
							<td><input type="text" class=""/></td>
							<td><input type="text" class=""/></td>
							<td><input type="checkbox" checked/></td>
							<td><input type="text"/></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div>
			<input type='button' class="addDescBtn" data-toggle="collapse" data-target="#addDescriptionPanel" value='Add Description'/>
			<div id="addDescriptionPanel" class="collapse">
				<textarea rows='4' cols='50'/>
			</div>
		</div>
		<div id="invoiceAmtDetails" class="row">
			<div class="col-sm-6 labelInput">
				<label>Amount:</label><label class="actualAmt"></label>
			</div>
			<div class="clearfix"></div>
			<div class="col-sm-10 labelInput">
				<label>Paid Amount:</label><input class="inputBox paidAmt noBorder" type='number' value=""/>
				<select class="form-control paymentMode">
					<option>Cash</option>
					<option>Card</option>
					<option>Cheque</option>
				</select>
			</div>
			<div class="clearfix"></div>
			<div class="col-sm-6 labelInput">
				<label>Balance Amount:</label><label class="dueAmt"></label>
			</div>		
		</div>
		<div class="row submitBtnContainer">
		<input type="button" class="addInvoiceToDB" value="Add Invoice"/>
		</div>
	</div>
	<div class="col-sm-5 rightPane">
		<!--<div class="row">
			<div class="item-image">
				<img class="center-block" src="/images/default.jpg">
			</div>
		</div>-->
		<div class="row">
			<div id="dealerHistoryContainer">
				
			</div>
		</div>
	</div>
</div>