<div class='input-invoice-main'>
    <div class="stock-alert-container alert-container" style="display: none;">
        <div class="alert alert-dismissable" role="alert" style="width:60%; position:fixed; top: 100px; left: 20%; right: 20%;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true" class="kn-icon-close"></span>
            </button>
            <span class='msg-text'></span>
        </div>				
    </div>

    <div class="invoice-alert-container alert-container" style="display: none;">
        <div class="alert alert-dismissable" role="alert" style="width:60%; position:fixed; top: 60px; left: 20%; right: 20%;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true" class="kn-icon-close"></span>
            </button>
            <span class='msg-text'></span>
        </div>				
    </div>


    <div class="col-sm-9 col-xs-9 left-container">
        <div class='col-sm-12 col-xs-12'>
            <div class='a-form-group col-sm-3 col-xs-3'>
                <label>Invoice No:</label>
                <input type='text' class="only-b-border invoice-no" value=''/>
            </div>
            <div class='a-form-group col-sm-3 col-xs-3'>
                <label>Dealer Name:</label>
                <input type='text' class="only-b-border delaer-name" value=''/>
            </div>
            <div class='a-form-group pull-right col-sm-3 col-xs-3'>
                <label>Date:</label>
                <input type="text" id="invoice-date" class="invoice-date"/>
			      <span class="add-on">
			        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
			      </span>
            </div>
        </div>
        <div class='col-sm-12 col-xs-12 a-form-group table-container'>
            <table>
                <colgroup>
                    <col style="width: 20px">
                    <col style="width: 60px">
                    <col style="width: 120px">
                    <col style="width: 360px">
                    <col style="width: 150px">
                    <!--<col style="width: 20px">-->
                    <col style="width: 70px">
                    <col style="width: 70px">
                    <col style="width: 70px">
                    <col style="width: 70px">
                    <!--<col style="width: 150px">-->
                </colgroup>
                <thead>
                    <tr>
                        <th>S.N</th>
                        <th>ItemId</th>
                        <th>BRAND</th>
                        <th>ITEM NAME</th>
                        <th>PART NO</th>
                        <!--<th></th>-->
                        <th>PRICE</th>
                        <th>NOS</th>
                        <th>GST(%)</th>
                        <th>VALUE</th>
                        <!--<th>SALE&nbsp;PRICE</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="aw ah only-b-border s-no" value="1" /></td>
                        <td class='item-id-cell'><span class='item-id'></span></td>
                        <td><input type="text" class="need-ac-brand aw ah only-b-border brand-name-field need-focus"/></td>
                        <td><input type="text" class="need-ac-item aw ah only-b-border item-name-field"/></td>
                        <td><input type="text" class="need-ac-partno aw ah only-b-border part-no-field"/></td>                        
                        <td><input type="number" class="aw ah only-b-border price-field"/></td>
                        <td><input type="number" class="aw ah only-b-border count-field"/></td>
                        <td><input type="number" class="aw ah only-b-border add-row tax-field"/></td>
                        <td><input type="number" class="aw ah only-b-border value-field"/></td>                        
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>

<div class='effect-on-edit-invoice-popup'></div>

    <div class="col-sm-3 col-xs-3 right-invoice-container">
        <div class='col-sm-12 col-xs-12'>
            <textarea rows="4" cols="50" class='notes-textarea' placeholder="My Notes..."></textarea>
        </div>
        <div class='row amount-details'>
            <div class='col-sm-12 col-xs-12'>
                <label class='amt-label'>Value: </label>
                <input type='number' class='actual-amt'/>
            </div>
            <div class='clearfix'></div>     
            <div class='col-sm-12 col-xs-12 payment-container'>                
                <div class='paymentRow initial-payment-row'>
                    <label class='amt-label'>Paid: </label>
                    <input type='number' class='paidAmt'/>
                    <select class="form-control paymentMode" data-identifier="initialPaymentRow">
                        <option>Cash</option>
                        <option>Card</option>
                        <option>Cheque</option>
                    </select>
                    <div class="add-payment-detail-icon" >
						<img src="/images/plus2.png">
					</div>
                </div>
            </div>
            <div class='clearfix'></div>

            <div class='col-sm-12 col-xs-12'>
                <label class='amt-label'>Balance:</label>
                <span class='due-amt'>0</span>
            </div>
            <div class='clearfix'></div>
            <div class='' style='margin-top: 40px; text-align: center;'>
                <input type='button' value='SUBMIT' class='submit-invoice-stock-btn' style='padding: 20px 50px; background-color: #c7c7ff; font-weight: bold;'/>
            </div>
        </div>
    </div>
    <div class='clearfix'></div>
</div>