<div class='input-invoice-main'>
    
    <div class="col-sm-9 col-xs-9 left-container">
        <div class='col-sm-12 col-xs-12'>
            <div class='a-form-group col-sm-3 col-xs-3'>
                <label>Invoice No:</label>
                <input type='text' class="only-b-border" value=''/>
            </div>
            <div class='a-form-group col-sm-3 col-xs-3'>
                <label>Dealer Name:</label>
                <input type='text' class="only-b-border" value='Ashwanth'/>
            </div>
            <div class='a-form-group pull-right col-sm-3 col-xs-3'>
                <label>Date:</label>
                <input type='text' class='' value='16/07/2017'/>
            </div>
        </div>
        <div class='col-sm-12 col-xs-12 a-form-group table-container'>
            <table>
                <colgroup>
                    <col style="width: 20px">
                    <col style="width: 60px">
                    <col style="width: 120px">
                    <col style="width: 360px">
                    <col style="width: 150px">
                    <!--<col style="width: 20px">-->
                    <col style="width: 70px">
                    <col style="width: 70px">
                    <col style="width: 70px">
                    <col style="width: 70px">
                    <!--<col style="width: 150px">-->
                </colgroup>
                <thead>
                    <tr>
                        <th>S.N</th>
                        <th>ItemId</th>
                        <th>BRAND</th>
                        <th>ITEM NAME</th>
                        <th>PART NO</th>
                        <!--<th></th>-->
                        <th>PRICE</th>
                        <th>NOS</th>
                        <th>GST(%)</th>
                        <th>VALUE</th>
                        <!--<th>SALE&nbsp;PRICE</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="aw ah only-b-border s-no" value="1" /></td>
                        <td class='item-id-cell'><span class='item-id'></span></td>
                        <td><input type="text" class="need-ac-brand aw ah only-b-border brand-name-field need-focus"/></td>
                        <td><input type="text" class="need-ac-item aw ah only-b-border item-name-field"/></td>
                        <td><input type="text" class="need-ac-partno aw ah only-b-border part-no-field"/></td>                        
                        <td><input type="number" class="aw ah only-b-border price-field"/></td>
                        <td><input type="number" class="aw ah only-b-border count-field"/></td>
                        <td><input type="number" class="aw ah only-b-border add-row tax-field"/></td>
                        <td><input type="number" class="aw ah only-b-border value-field"/></td>                        
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>


    <div class="col-sm-3 col-xs-3">
        <div class='col-sm-12 col-xs-12'>
            <textarea rows="4" cols="50">My Notes...</textarea>
        </div>
        <div class='col-sm-12 col-xs-12' style='padding-top: 150px; text-align: center;'>
            <label class='col-sm-4 col-xs-4'><span>Amount: </span></label><span>22040 /-</span><div class='clearfix'></div>
            <label class='col-sm-4 col-xs-4'><span>GST: </span></label><span>3592 /-</span><div class='clearfix'></div>
            <label class='col-sm-4 col-xs-4'><span>TOTAL:</span></label><span>25632 /-</span><div class='clearfix'></div>
            <div class='' style='margin-top: 40px; text-align: center;'>
                <input type='button' value='SUBMIT' class='submit-invoice-stock-btn' style='padding: 20px 50px; background-color: #c7c7ff; font-weight: bold;'/>
            </div>
        </div>
    </div>
</div>