<div id="invoice_list_page">
    <div class="util-container col-sm-10">
        <div class="btn-container">
            <label class='trash-btn-container'>
                <img class="trash-selected-invoice disabled" src="/images/recyclebin.png" title="Move selected invoice to trash">
            </label>
            <label class='delete-btn-container'>
                <img class="delete-selected-invoice disabled" src="/images/delete-icon.png" title="Permanently delete selected invoice">
            </label>
            <label class='restore-btn-container'>
                <img class="restore-selected-invoice disabled" src="/images/restore.png" title="Restore selected invoice from recycle bin">
            </label>
        </div>
    </div>
    <div class="invoice_list_table_container">
        
    </div>
</div>