<div id="invoice_list_page">
    <div class="util-container col-sm-10">
        <div class="btn-container">
            <label class='trash-btn-container'>
                <i class="fa fa-trash-o trash-selected-invoice disabled" title="Move selected invoice to trash"></i>
                <!--<img class="trash-selected-invoice disabled" src="/images/recyclebin.png" title="Move selected invoice to trash">-->
            </label>
            <label class='delete-btn-container'>
                <i class="fa fa-remove delete-selected-invoice disabled" title="Permanently delete selected invoice"></i>
                <!--<img class="delete-selected-invoice disabled" src="/images/delete-icon.png" title="Permanently delete selected invoice">-->
            </label>
            <label class='restore-btn-container'>
                <i class="fa fa-undo restore-selected-invoice disabled" title="Restore selected invoice from recycle bin"></i>
                <!--<img class="restore-selected-invoice disabled" src="/images/restore.png" title="Restore selected invoice from recycle bin">-->
            </label>
            <label class="export-excel">
                <i class="fa fa-file-excel-o export-image"></i>
                <!--<img class="export-image" src="/images/export_image.jpg" title="Export">-->
            </label>
        </div>
    </div>
    <div class="invoice_list_table_container">
        
    </div>
</div>