<div class="row">
    <div class="col-sm-1"></div>
    <div class='col-sm-10'>
        <table class="invoice-list-table">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th></th>
                    <th>Invoice</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Paid</th>
                    <th>Due</th>
                    <th>Other</th>
                </tr>
                <tr id="filterData">
                    <th></th>
                    <th></th>
                    <th>Invoice</th>
                    <th></th>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% _.each(tableData, function(aRow, index){
                    var isTrashed = 'false', secClassName = '';
                    if(aRow.moved_to_trash == 'trashed'){
                        isTrashed = 'yes';
                        secClassName = 'trashedItem';
                    } %>
                    <tr class="<%= secClassName %>">
                        <td><%= index+1 %></td>
                        <td>
                            <% if(isTrashed == 'yes'){ %>
                                <div class="trashed" data-view-mode="trashedInvoice"><span class="hiddentrashed">trashed</span></div>
                            <% }else if(parseInt(aRow.due_amt) > 0){ %>
                                <div class="open" data-view-mode="pendingInvoice"><span class="hiddenopen">open</span></div>
                            <% }else{ %>
                                <div class="closed" data-view-mode="closedInvoice"><span class="hiddenclosed">closed</span></div>
                            <% } %>
                        </td>
                        <td class="invoiceNo" data-unique-no = <%= aRow.unique_no%> ><%= aRow.invoice_no %></td>
                        <td><%= aRow.date %></td>
                        <td><%= aRow.delear_name %></td>
                        <td><%= aRow.amount %></td>
                        <td><%= aRow.paid_amt%></td>
                        <td><%= aRow.due_amt%></td>
                        <td>                            
                            <div class="invoiceDescPopover"
                                data-toggle = 'invoice-desc-popover'
                                data-placement = 'right'
                                data-content = "<%= am.invoiceList.getInvoiceDesc(aRow)  %>"
                                data-html = "<%= am.invoiceList.getInvoiceDesc(aRow) %>"
                                data-title = "<p style='float :left;'><%= aRow.invoice_no%></p><p style='float :right;'><%= aRow.date%></p>"
                                data-container = 'body'
                                data-class = "invoice-desc-popover"
                            > <i class="fa fa-comment-o"></i>
                            </div>
                        </td>
                    </tr>
                <% })%>            
            </tbody>
        </table>
    </div>
    <div class="col-sm-1"></div>
</div>