<div class='mini-calc-main-page'>
    <ul class='nav nav-tabs'>
        <li class='col-md-4 col-sm-4 active'>
            <a href='.price-calc-tab-content' class='' data-toggle='tab'>Price Calculator</a>
        </li>
        <li class='col-md-4 col-sm-4'>
            <a href='.other-calulator-content' class='' data-toggle='tab'>Other Calculator</a>
        </li>
    </ul>
    <div class='tab-content'>
        <div class='price-calc-tab-content tab-pane active'>
            <div class='price-calculator-content'>
            </div>
        </div>
        <div class='other-calulator-content tab-pane'>
            <div class='other-calculator-content' style='height: 100px; padding: 20px;'>
                IN-PROGRESS
            </div>
        </div>
    </div>    
</div>