<div>
    <div class='left-panel'>
        <div class='a-form-control'>
            <label>
                <span>Price:</span>        
            </label>
            <input type='number' class='price-val'/>
            <label class='calc-price-value'>
                <i class='fa fa-calculator' aria-hidden='true'></i>
            </label>
        </div>
        <div class='a-form-control'>
            <label>
                <span>CGST:</span>        
            </label>
            <input type='number' class='cgst-tax-val'/>
        </div>
        <div class='a-form-control'>
            <label>
                <span>SGST:</span>        
            </label>
            <input type='number' class='sgst-tax-val'/>
        </div>
        <div class='a-form-control'>
            <label>
                <span>MRP:</span>        
            </label>
            <input type='number' class='mrp-val'/>
            <label class='calc-mrp-value'>
                <i class='fa fa-calculator' aria-hidden='true'></i>
            </label>
        </div>
    </div>
    <div class='right-panel'>
            
    </div>
</div>