<div class='billing-main-panel'>
    <div class='col-sm-12 billing-contentpane'>
        <div class='a-form-group billing-table-container'>
            <div class='table-header-body-container'>
                <table>
                    <colgroup>
                        <col style="width: 50px">
                        <col style="width: 90px">
                        <col style="width: 400px">
                        <col style="width: 70px">
                        <col style="width: 70px">
                        <col style="width: 70px">
                        <col style="width: 70px">
                        <col style="width: 70px">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>S.N</th>
                            <th>ItemId</th>
                            <th>ITEM</th>
                            <th>NOS</th>
                            <th>PRICE</th>                        
                            <th>CGST(%)</th>
                            <th>CGST Amt</th>
                            <th>SGST(%)</th>
                            <th>SGST Amt</th>
                            <th>VALUE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" class="aw ah only-b-border s-no" value="1" /></td>
                            <td><input type="text" class="need-ac-itemid aw ah only-b-border item-id-field"/></span></td>
                            <td><input type="text" class="need-ac-item-desc need-focus aw ah only-b-border item-desc-field" data-identifier=''/></td>
                            <td><input type="number" class="aw ah only-b-border count-field"/></td>
                            <td><input type="number" class="aw ah only-b-border selling-price-field"/></td>
                            <td><input type="number" class="aw ah only-b-border cgst-tax-field"/></td>
                            <td><input type="number" class="aw ah only-b-border cgst-tax-value-field"/></td>
                            <td><input type="number" class="aw ah only-b-border sgst-tax-field"/></td>
                            <td><input type="number" class="aw ah only-b-border sgst-tax-value-field"/></td>
                            <td><input type="number" class="aw ah only-b-border selling-value-field add-row"/></td>                        
                        </tr>                    
                    </tbody>
                    <!--<tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><input type='text' class='total-qty-field'/></td>
                            <td><input type='text' class='total-price-field'/></td>
                            <td></td>
                            <td><input type='text' class='total-cgst-field'/></td>
                            <td></td>
                            <td><input type='text' class='total-sgst-field'/></td>
                            <td><input type='text' class='total-value-field'/></td>
                        </tr>
                    </tfoot>-->
                </table>
            </div>
            <div>
                <table>
                    <colgroup>
                        <col style="width: 50px">
                        <col style="width: 90px">
                        <col style="width: 400px">
                        <col style="width: 70px">
                        <col style="width: 70px">
                        <col style="width: 70px">
                        <col style="width: 70px">
                        <col style="width: 70px">
                    </colgroup>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><input type='text' class='aw ah no-border total-qty-field'/></td>
                            <td><input type='text' class='aw ah no-border total-price-field'/></td>
                            <td></td>
                            <td><input type='text' class='aw ah no-border total-cgst-field'/></td>
                            <td></td>
                            <td><input type='text' class='aw ah no-border total-sgst-field'/></td>
                            <td><input type='text' class='aw ah no-border total-value-field'/></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class='col-sm-12 billing-bottom'>
        <!--<div class='col-sm-12 col-xs-12' style='padding-top: 150px; text-align: center; padding-bottom: 150px;'>
            <label class='col-sm-4 col-xs-4'><span>Amount: </span></label><span>22040 /-</span><div class='clearfix'></div>
            <label class='col-sm-4 col-xs-4'><span>GST: </span></label><span>3592 /-</span><div class='clearfix'></div>
            <label class='col-sm-4 col-xs-4'><span>TOTAL:</span></label><span>25632 /-</span><div class='clearfix'></div>
            
        </div>-->
        <div class='' style='margin-top: 40px; text-align: center;'>
            <input type='button' value='SUBMIT' class='billing-panel-submit-btn' style='padding: 20px 50px; background-color: rgb(242, 158, 90); font-weight: bold;'/>
        </div>
    </div>
</div>